101 ICON "res/ico/briefcase_3d.ico"
102 ICON "res/ico/money_bag_3d.ico"
103 ICON "res/ico/memo_3d.ico"
104 ICON "res/ico/gem_stone_3d.ico"
105 ICON "res/ico/eyes_3d.ico"
106 ICON "res/ico/bank_3d.ico"
107 ICON "res/ico/newspaper_3d.ico"
108 ICON "res/ico/gear_3d.ico"
109 ICON "res/ico/beetle_3d.ico"

201 RCDATA "res/wav/md_connection_lost.wav"
202 RCDATA "res/wav/md_connection_reestablished.wav"
203 RCDATA "res/wav/trading_connection_lost.wav"
204 RCDATA "res/wav/trading_connection_reestablished.wav"
205 RCDATA "res/wav/order_cancelled.wav"
206 RCDATA "res/wav/order_partially_filled.wav"
207 RCDATA "res/wav/order_filled.wav"