// https://icon-icons.com/search?q=tnt

 1 ICON "resources/ico/tnt.ico"
 2 ICON "resources/ico/bookshelf.ico"
 3 ICON "resources/ico/coins.ico"
 4 ICON "resources/ico/diamond.ico"
 5 ICON "resources/ico/settings.ico"
 6 ICON "resources/ico/news.ico"
 7 ICON "resources/ico/timesales.ico"
 8 ICON "resources/ico/levels.ico"
 9 ICON "resources/ico/msgs.ico"
10 ICON "resources/ico/orders.ico"

201 RCDATA "resources/mp3/md_connection_lost.mp3"
202 RCDATA "resources/mp3/md_connection_reestablished.mp3"
203 RCDATA "resources/mp3/trading_connection_lost.mp3"
204 RCDATA "resources/mp3/trading_connection_reestablished.mp3"